//feature most used
$color-font:#000000;
$background-color:rgb(7, 7, 7);
$logo:rgba(63, 20, 92, 0.822);
$background-block:rgb(184, 108, 235);
$background-color-2:rgb(153, 0, 255);
$background-color-3:rgb(0, 0, 0);
$background-color-3:rgb(238, 238, 238);

//hover
$hover:rgb(153, 0, 255);
//block
$button:rgb(218, 213, 213);
$button-2:rgba(153, 0, 255, 0.582);
$button-3:rgba(0, 0, 0, 0.685);
$input-color:#f5f5f5;
