@use'container';
@use 'values';
//mixin size

*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    background-color: values.$background-color-3;

}
@include container.for-size(phone-only) {    
    body{
    }
    #phone{
        display: none;
       
    }
    #toggle{
        display:block;
    }
  }
  @include container.for-size(tablet-portrait-up) {    
    body{
    }
    #toggle{
        display: none;
    }

  }
  @include container.for-size(potato) {    
.header{
   &-logo{
    display: flex;
    font-size: 26px;
    }
 }
}
.header{
    background-color:values.$background-color ;
    border-bottom: 1px solid white 300px;
    justify-content: center;

    &-navbar{
        @include container.flex-center;
        justify-content: center;
        padding: 15px 16px;
        
    }&-logo{
        font-size: 20px;
        font-size: 1.5rem;
        color: values.$logo ;
        cursor: pointer;  
        span{
            color: values.$hover;
        }
      }
    &-menu{
        margin-left: 300px;
        ul{
        @include container.flex-center;

        li{
            list-style: none;
            a{
                text-decoration: none;
                padding: 15px 16px;
                color: values.$color-font;
                transition: .4s;
                font-size: 1rem;
                &:hover{
                    color: values.$hover;
                }
            }
            
        }}
    }

}
.main{
    justify-content: center;
    @include container.flex-center;
    
    &-block{
        width: 980px;
        height: 400px;
        border-radius: 10px;
        text-align: center;
        position: relative;
        background-color: values.$background-block;
        @include container.flex-center;
        align-items: center;
        justify-content: center;


    }
    &-hyper-h1{
        border: 1px solid transparent;
        border-radius:10px ;
        margin-top: -30px;
        position: relative;
        top: -20px;
        h1{
        border-radius: 30%;
        font-size:36pt;
        text-decoration: underline values.$background-color-2;

        }
    }
    &-link{
        position: absolute;
        background-color: values.$background-block;
        padding: 0;
        margin: 0;
        input{
            padding: 0;
            margin: 0;
            width: 400px;
            height:50px;
            border-radius: 10px;
            border: none;
            overflow: hidden;
            border-bottom: 2px solid values.$background-color-2;
            outline: 0;
            line-height: 50px;
            font-size: 20px;
            &::after{
                font-size: 30px;
            }
            &::placeholder {
                color: #B0BEC5;
                font-size: 1rem;
                text-align: left;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 16pt;
              }
        }
        button{
            height:50px;
            width:100px;
            background-color: values.$button;
            border-radius: 10px;
            border: 0.1px solid   values.$color-font;
            overflow: hidden;
            cursor: pointer;
            transition:all .9s ease;
            &:hover{
                color: values.$button-3;
                background-color:  values.$button;
                border: 1px ease  values.$background-color-2;
            }
        }
    }

}